*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  width:100%;
  margin:33px;
  font-size:13px;
  line-height:18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1{
  margin:0.67em 0;
}

p{
  margin:33px;
}

table{
  display:table;
}

th{
  display:table-cell;
  padding:1px 1px 5px;
  font-weight:bold;
  text-align:center;
}

td{
  display:table-cell;
  padding:1px 5px 7px;
}

h2{
  margin:0.83em 0;
}

.field, .action{
  margin-bottom:10px;
}
.book_title{
  padding:1px 2px;
}
.book_body{
  padding:2px;
}
.btn{
  padding:1px 6px;
}
#notice{
  color:green;
}